@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/*
    BODY
 */
body {
    background-image: url("https://images.lucande.io/galleries//background/pexels-jessica-lewis-creative-633482.jpg");
    background-color: #000;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

h1 {
    color: rgba(255, 255, 255, 0.95);
}

h2 {
    color: rgba(255, 255, 255, 0.95);
}

h3 {
    color: rgba(255, 255, 255, 0.95);
}

p {
    color: #ffffff;
}


/*
    HEADER BAR
 */
.top-bar {
    background-color: rgba(0, 0, 0, 0.6); /* black with 60% opacity */
    backdrop-filter: blur(10px);
    color: #fff;
    border-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(30, 30, 30, 0.6));
    border-image-slice: 1;
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5);
}

.sub-logo {
    color: rgba(255, 255, 255, 0.95);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    -webkit-text-stroke: 1px rgba(0, 80, 0, 0.1);
}


/*
    FOOTER
 */
.footer {
    background-color: rgba(0, 0, 0, 0.6); /* black with 60% opacity */
    backdrop-filter: blur(10px);
    color: #fff;
    border-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(30, 30, 30, 0.6));
    border-image-slice: 1;
    box-shadow: 0 -8px 6px -6px rgba(0, 0, 0, 0.5);
}

.footer a {
    color: rgba(255, 255, 255, 0.95);
}

.footer a:hover {
    color: #fff; /* Change colour on hover */
}


/*
    CENTRE CONTENT
 */
.center-content {
    background-color: rgba(0, 0, 0, 0.6); /* black with 60% opacity */
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1); /* Shadow */
}

.data-section p, .data-section h1, .data-section h2, .data-section h3 {
    color: #000;
}


/*
    SIDE BAR
 */
.side-bar {
    background-color: rgba(0, 0, 0, 0.6); /* black with 60% opacity */
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1); /* Shadow */
}

.sidebar-menu li a {
    color: #fff;
    background: linear-gradient(90deg, rgba(255, 210, 166, 0.7), rgba(255, 183, 128, 0.7));
    border-radius: 5px;
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.2);
}

.sidebar-menu li a:hover {
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.4);
    background: linear-gradient(90deg, rgba(255, 183, 128, 0.8), rgba(255, 156, 77, 0.8));
}

.menu-item {
    background: linear-gradient(90deg, rgba(255, 210, 166, 0.7), rgba(255, 183, 128, 0.7));
    border-radius: 5px;
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.2);
}

.menu-item:hover {
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.4);
    background: linear-gradient(90deg, rgba(255, 183, 128, 0.8), rgba(255, 156, 77, 0.8));
    color: #fff;
}

.menu-item a {
    color: #fff;
}

.menu-item a {
    color: #fff;
}


/*
    FORMS
 */
form {
    padding: 20px;
    border-radius: 8px;
}

form p {
    padding: 10px;
}

form input[type="text"],
form input[type="email"],
form input[type="password"] {
    border: 1px solid #ccc;
}

form input[type="submit"] {
    background: #FF6F00; /* Orange colour */
    color: white;
    border-radius: 4px;
}

form input[type="submit"]:hover {
    background: #FF4D00; /* Darker orange colour on hover */
}

.button-link,
.button-link-header {
    color: #fff;
    background-color: rgba(255, 142, 0, 0.7); /* Orange colour with transparency */
    border: 2px solid #fff;
    border-radius: 50px;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.2);
}

.button-link:hover,
.button-link-header:hover {
    background: rgba(255, 77, 0, 0.7); /* Darker orange colour with transparency on hover */
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.4);
}

.button-link a {
    text-decoration: none;
}

.button-link a:hover {
    text-decoration: none;
}


/*
    TABLES
 */
.table-custom {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    color: white;
    font-family: Roboto, sans-serif;
    background-color: rgba(255, 128, 0, 0.2); /* Orange color with transparency */
}

.table-custom th,
.table-custom td {
    border: 1px solid #ddd;
}

.table-custom th {
    background-color: rgba(255, 128, 0, 0.5); /* Lighter orange color with transparency */
}

.table-custom tr:nth-child(even) {
    background-color: rgba(255, 128, 0, 0.4); /* Slightly darker orange color with transparency */
}

.table-custom tr:nth-child(odd) {
    background-color: rgba(255, 128, 0, 0.6); /* Slightly darker orange color with transparency */
}


/*
    DROP DOWN
 */
.dropbtn {
    background-color: rgba(255, 142, 0, 0.7);
    color: white;
    border-radius: 5px; /* rounded edges */
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1;
    text-decoration: none;
}


/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: rgba(255, 142, 0, 1); /* Solid orange color on hover */
}


/*
    DATA SECTION
 */
.data-section {
    background-color: rgba(249, 249, 249, 0.8);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

.meal {
    background: linear-gradient(to right, orange, transparent);
}