body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.container.main-content {
    padding-top: 100px; /* Increase padding from top */
    padding-bottom: 100px; /* Add padding at bottom */
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
}

.top-bar {
    background-color: #507f7f;
    color: #fff;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.top-bar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.footer a {
    color: #b2ebf2;
    text-decoration: none; /* Remove underline */
}

/* Add hover effect to footer links */
.footer a:hover {
    color: #fff; /* Change color on hover */
    text-decoration: underline; /* Add underline on hover */
}

.top-bar-container img {
    max-width: 100px;
    height: auto;
}

.main-content {
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
}

.center-content {
    flex: 2;
    margin-right: 20px;
    background-color: #b2d8d8; /* Green-blue hue */
    border-radius: 10px; /* Curved borders */
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1); /* Shadow */
    padding: 20px;
}

.center-content form {
    margin: 0;
    padding: 0;
}

.side-bar {
    flex: 1;
    background-color: #b2d8d8; /* Green-blue hue */
    border-radius: 10px; /* Curved borders */
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1); /* Shadow */
    padding: 20px;
    margin-right: 20px; /* Adds some space between the sidebar and the center content */
    align-self: flex-start;
    position: sticky;
    top: 120px; /* adds space so content not hidden behind topbar */
}


.footer {
    background-color: #507f7f; /* Darker green-blue hue */
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

form {
    /*background: #f9f9f9;*/
    padding: 20px;
    border-radius: 8px;
    /*box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);*/
}

form label {
    display: block;
    margin-bottom: 10px;
}

form input[type="text"],
form input[type="email"],
form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

form input[type="submit"] {
    padding: 10px 20px;
    background: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s ease;
}

form input[type="submit"]:hover {
    background: #0056b3;
}

.logo-link {
    text-decoration: none;
}

.button-link {
    color: #fff;
    background-color: #92b8b8;
    text-decoration: none;
    margin-left: 20px;
    padding: 10px 20px;
    border: 2px solid #fff;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.2);
}

.button-link:hover {
    background: #0056b3;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.sidebar-menu {
    list-style: none;
    padding: 0;
}

.sidebar-menu li {
    margin-bottom: 10px;
}

.sidebar-menu li a {
    color: #ffffff;
    text-decoration: none;
    background-color: #228b22;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
}

.table-custom {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
}

.table-custom th,
.table-custom td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.table-custom th {
    background-color: #4CAF50;
    color: white;
}

.table-custom tr:nth-child(even) {
    background-color: #f2f2f2;
}

.button-link {
    display: inline-block;
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin: 5px;
    font-size: 14px;
}

.button-link:hover {
    background-color: #45a049;
}

form input[type="number"],
form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.nutrient-form-element {
    display: inline-block;
}

/* The dropdown button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    border-radius: 5px; /* rounded edges */
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-size: 18px; /* bigger text for menu items */
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}


/* VIEWPORT, MUST BE AT END */
@media (max-width: 600px) {
    .top-bar-container {
        flex-direction: column;
        text-align: center;
        gap: 20px; /* Adds space between the logo and the buttons */
    }
    .main-content {
        flex-direction: column;
    }
    .container {
        width: 100%;
    }
    .center-content, .side-bar {
        margin-right: 0;
        margin-bottom: 20px;
        width: 100%;
    }
    .side-bar {
        position: static;
        max-height: none;
        overflow: visible;
    }
}
